#### Tuple: Ordered(unindexed), immutable, unhashable

In [0]:
sample = 1
print(type(sample))

# single element and integer tuple
sample = ("1")
print(type(sample))

#Single item tuple
sample = (1, )
print(type(sample))

# string tuple
a = 'Ram','Shiv','Gopal','Krishna'
print(a)

##### No of cages in zoo
##### all animals in zoo
##### animals from old zoo
##### last animal from old zoo
##### no of animals in new zoo

In [0]:
# length of list
old_zoo = ('python1+++','tree','penguin')
zoo = 'lion', 'lizard'
print("Total no of animals:",len(old_zoo))

Total no of animals: 3

In [0]:
new_zoo = 'C','Java',old_zoo, zoo

In [0]:
print('All the animals in new zoo:',new_zoo)

All the animals in new zoo: ('C', 'Java', ('python1+++', 'tree', 'penguin'), ('lion', 'lizard'))

In [0]:
print('no of animals from old zoo:',old_zoo)

[How Tuple Index Allocated](https://docs.google.com/drawings/d/1dipbn4VuMY-HMhW0hm74d7hKgkue6Wq8xfwU7P-weQY/edit?usp=sharing)

In [0]:
# It will read item from tuple 2 and all items including index number 2
# You can't mix intertuple elements i.e. if tuple ends at index 2 so you can't write index 3.
# each tuple is different as follows
print('last animal from old zoo:',new_zoo[0][0])
print('last animal from old zoo:',new_zoo[1][0])
print('last animal from old zoo:',new_zoo[2][1][1])
print('last animal from old zoo:',new_zoo[3][1][2])

last animal from old zoo: C
last animal from old zoo: J
last animal from old zoo: r
last animal from old zoo: z

In [0]:
print('total animals from both zoo:',len(old_zoo)+(len(new_zoo)-1))

In [0]:
#program to reverse tuples order
#For understanding, name, country,lang = data
#program to reverse tuples order
data = ("Ram","India", "Python")
print(tuple(reversed(data)))

In [0]:
animals = ("Elephant", "Tiger", "Lion")
new_zoo = (animals[1])
print(new_zoo)

In [0]:
type(new_zoo)

In [0]:
tuple_zoo = tuple(new_zoo)
type(tuple_zoo)

In [0]:
tup = (1, 1, 3, 4, 5, 5, 6)
print(type(tup))

con_tup = set(tup)
print(type(con_tup))

print(con_tup)

In [0]:
a = (1, 2)
print(a)

In [0]:
a = a + (3, )
print(a)
print(type(a))

In [0]:
a = [1]
a = a + [2]
print(a)